.header-h1 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.3em;
    font-size: 83px;
    color: whitesmoke;
    margin-top: 10rem;
}

.firstP {
    letter-spacing: normal;
    font-size: 30px;
    font-family: monospace;
    color: whitesmoke;
}

.about-us-header-h1 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.3em;
    font-size: 83px;
}

.backgroundBannerIndex {
    background-image: url("/img/mars_banner_two_bg.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.backgroundBannerInvtr {
    background-image: url("/img/coffee_beans_inventory_2.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.header-border {
    border-bottom: 2px solid gray;
}

.custom {
    font-family: 'Anton', sans-serif;
}

.modal-custom {
    font-family: 'Cookie', cursive;
    font-size: 45px;
}

.pop-up-text-index {
    font-size: 18px;
    font-weight: bold;
}

.a-color-change {
    color: black;
}
.a-color-change:hover {
    color: #7bacab;
    text-decoration: none;
}

.custom:hover {
    text-decoration:none;
}

.custom span:hover {
    color: #7bacab;
}

.first-img-row {
    min-height: 285px;
    max-height: 285px;
}

.fade-in-text {
    opacity: 0;
    padding: 70px 0;
    letter-spacing: 0.19rem;
}

.fade-in-text h2 {
    font-weight: bold;
    font-size: 50px;
}

.fade-in-text:hover {
    opacity: 100%;
    transition: opacity 1s;
}

.footer {
    padding-top: 2rem;
}

@media only screen and (min-width: 992px) {
    .navbar .navbar-nav .nav-item .nav-link {
      padding: 0 0.5em;
    }
    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
      border-right: 2px solid #000000;
    }
  }

/*CUSTOM CSS FOR ABOUT US*/ 

.custom-aboutus {
    padding-top: 0.05em;
}

/*CUSTOM FOR INVENTORY*/ 
.img-padding {
    padding: 10px;
}

