h1 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.3em;
    font-size: 83px;
}
.header {
    border-bottom: 4px groove;
    padding-bottom: 1em;
}

.custom {
    font-family: 'Anton', sans-serif;
}


.custom:hover {
    text-decoration:none;
}

.custom span:hover {
    color: #7bacab;
}

.span2 {
    font-family: 'Anton', sans-serif;
}


.firstP {
    letter-spacing: normal;
    font-size: 18px;
    font-family: monospace;
}

.row-content {
    padding: 2px;
}

.first-img-row {
    min-height: 285px;
}

.img-thumbnail {
    background-color: #7bacab;
}

.navbar-nav {
    margin-left: 25rem;
    margin-top: 1rem;
}

.fade-in-text {
    opacity: 0;
    padding: 70px 0;
    letter-spacing: 0.19rem;
}

.fade-in-text h2 {
    font-weight: bold;
    font-size: 50px;
    
}

.fade-in-text:hover {
    opacity: 100%;
    transition: opacity 1s;
}

.footer {
    padding-top: 30px;
}

.span1 {
    color: #7bacab;
}




@media only screen and (min-width: 992px) {
    .navbar .navbar-nav .nav-item .nav-link {
      padding: 0 0.5em;
    }
    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
      border-right: 2px solid #000000;
    }
  }

/*CUSTOM CSS FOR ABOUT US*/ 

.custom-aboutus {
    padding-top: 0.05em;
}

.end-firstp {
    padding-bottom: 1.15em;
    border-bottom: 0.15em solid;
}


/*CUSTOM FOR INVENTORY*/ 
.img-padding {
    padding: 10px;
    
}
